#shop {
    height: 100%;
    color: #fff;
    font-size: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .container {
        height: 500px;
        width: 800px;
        //margin: 0 auto;
        //margin-top: 160px;

        #upper{ 
            height: 70%;
            position: relative;
            
            #itemlist{
                display: flex;
                background-color: #000a;
                border-radius: 20px;
                border: solid 5px #fff;
                top: 50px;
                width: 490px;
                height: 250px;
                position: absolute;
                left: 50%;
                -webkit-transform: translateX(-50%);
                transform: translateX(-50%);
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
                padding: 5px;
                overflow-y: scroll;
                flex-direction: column;
                

                
                .item{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    border-bottom: 1px solid #fff8;

                    .left{
                        display: flex;
                        align-items: center;

                        .image{
                            img{
                             width: 70px;   
                            }
                            
                        }   
                    }
                    .G{
                        display: flex;
                        align-items: center; 
                        .buy{
                            position: relative;
                            display: flex; 
                            align-items: center;   
                            justify-content: space-around;
                            margin: 0 auto;
                            max-width: 240px;
                            padding: 5px 10px;
                            color: #313131;
                            //transition: 0.3s ease-in-out;
                            font-weight: 600;
                            background: #eee;
                            filter: drop-shadow(0px 2px 4px #ccc);
                            border-radius: 3px;
                            cursor: pointer;
                            &:hover{
                                background-color: #f00;
                            }

                        }
                        
                    }
                }
                

            }
            #many{
                font-size: 25px;
                width: 150px;
                position: absolute;
                left: -15px;
                top: 50px;
                height: 120px;
                background-color: #000a;
                border-radius: 20px;
                border: solid 5px #fff;
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
                padding: 5px;

            }

            #upper_right{
                position: absolute;
                right: -20px;
                height: 200px;
                width: 150px;
                top: 50px;

                #itemstatus{
                    height: 120px;
                    width: 200px;
                    background-color: #000a;
                    border-radius: 20px;
                    border: solid 5px #fff;
                    box-sizing: border-box;
                    padding: 5px;
                    font-size: 25px;

                }

                #itemimage{
                    margin-top: 15px;
                    background-color: #000a;
                    border-radius: 15px;
                    border: solid 5px #fff;
                    text-align: center;
                    width: 190px;
                    
                }
            }
        }
            
        #message{
            background-color: #000a;
            border-radius: 20px;
            border: solid 5px #fff;
            width: 480px;
            margin: 0 auto;
            height: 30%;

            #h1{
                display: flex;
                justify-content: center;
            }


        }
    }
        
}