@font-face {
    font-family: 'MyFont';
    src: url('fonts/PixelMplus10-Regular.ttf');
}

html, body {
    margin: 0;
    padding: 0;
    font-family: MyFont;
    height: 100%;
    width: 100%;
    background-color: #000;
}

.container {
    // display: flex; /* 子要素をflexboxで揃える */
    // flex-direction: column; /* 子要素をflexboxにより縦方向に揃える */
    // justify-content: center; /* 子要素をflexboxにより中央に配置する */
    // align-items: center;  /* 子要素をflexboxにより中央に配置する */
    // width: 100%;
    // height: 100%;

    #world {
        position: relative;
        .canvas, .screensize {
            position: absolute;
        }
    }
    #world {
        position: fixed;
        top: 50px;
        left: 0;
    }
    #mat {
        position: fixed;
        top: 0;
        left: 0;
        background-color: #0007;
        width: 100%;
        height: 100%;
    }
    #talk {
        position: fixed;
        top: 0;
        left: 0;
        // background-color: #0007;
        width: 100%;
        height: 100%;
    }
    #ui {
        position: fixed;
        top: 0;
        left: 0;
        #consoleContainer {
            margin: 15px;
            padding: 20px;
            color: #fff;
            font-size: 24px;

            background-color: #000a;
            border-radius: 10px;
            border: solid 2px #fff;
            #tagForCopy {
                margin-bottom: 10px;
            }
        }
    }
}

#mat, #talk {
    display: flex; /* 子要素をflexboxで揃える */
    flex-direction: column; /* 子要素をflexboxにより縦方向に揃える */
    justify-content: center; /* 子要素をflexboxにより中央に配置する */
    align-items: center;  /* 子要素をflexboxにより中央に配置する */
    width: 100%;
    height: 100%;
}

#mat {
    #battle {
        #enemy, #message {
            background-color: #000a;
            border-radius: 20px;
            border: solid 5px #fff;
        }
        #enemy {
            width: 280px;
            height: 240px;
            margin: 0 auto;
            margin-top: 20px;
            img {
                width: 100%;
                height: 100%;
            }
        }
        #message {
            width: 400px;
            height: 160px;
            margin: 0 auto;
            margin-top: 20px;
            color: #fff;
            font-size: 20px;
            line-height: 150%;
            box-sizing: border-box;
            padding: 15px;
        }
    }
    #command { 
        position: relative;
        top: 200px;
        right: 250px;
        font-size: 25px;
        width: auto;
    }
    #battle_command {
        position: relative;
        height: auto;
        bottom: 180px;
        right: 280px;
        width: 140px;
    }     
}

#mat #battle #message, #command, #battle_command {
    width: 400px;
    height: 160px;
    margin: 0 auto;
    margin-top: 20px;
    color: #fff;
    font-size: 20px;
    line-height: 150%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 15px;
  }

  #mat #command, #battle_command {
    background-color: #000a;
    border-radius: 20px;
    border: solid 5px #fff;
    .command {
        cursor: pointer;
    }
  }

// <div id="talk" class="overlay">
// <div id="battle" class="screensize">
//     <div id="enemy">
//         <img src="images/enemy/01.jpg" />
//     </div>
//     <div id="message">
//         ボスがあらわれた！<br>
//         ５５５ポイントのダメージを与えた
//     </div>
// </div>
// </div>

#talk {
    #battle {
        #enemy, #message {
            background-color: #000a;
            border-radius: 20px;
            border: solid 5px #fff;
        }
        #enemy {
            opacity: 0;
            width: 280px;
            height: 240px;
            margin: 0 auto;
            margin-top: 20px;
            img {
                width: 100%;
                height: 100%;
            }
        }
        #message {
            width: 400px;
            height: 160px;
            margin: 0 auto;
            margin-top: 20px;
            color: #fff;
            font-size: 20px;
            line-height: 150%;
            box-sizing: border-box;
            padding: 15px;
        }
    }
}

#mat_shop {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #0007;
    width: 100%;
    height: 100%;    
}